<div class="page-container">
  <header>
    <div class="image-container">
      <img src="../assets/wrapped_green_logo@2x.png" alt="">
    </div>

    <ul>
      <li>
        <a href="#about-us">About us</a>
      </li>
      <li>
        <a href="#menu">Menu</a>
      </li>
      <li>
        <a href="#contacts">Contact</a>
      </li>
    </ul>
  </header>

  <div class="page-content">
    <div class="check-menu">
      <div class="food-for-you">
        <h1>Healthy & Fresh Food For You</h1>
        <p>Created for lovers of healthy, delicious and non-obvious food.</p>
        <a href="#menu">Chek menu</a>
      </div>

      <div class="image-container">
        <img src="../assets/background+pict@2x.png" alt="">
      </div>

      <div class="chili"><img src="../assets/background_picture2@2x.png" alt="">
      </div>
    </div>

    <div class="about-us" id="about-us">
       <div class="about-us-image">
         <img src="../assets/vegetable_table@2x.png" alt="">
       </div>

      <div class="few-words">
        <p class="title">About us</p>
        <h1>Few words about us</h1>
        <p class="details">We are not ordinary food truck. We create a<br/> place overflowing with positive energy that it <br/>expresses important tous values.<br/> Get to know them specifically.</p>
        <button>Learn More</button>
      </div>
    </div>

    <div class="explore">
      <div class="best-foods">
          <p class="menu" id="menu">Menu</p>
          <h1>Explore Our Best Food</h1>
          <p class="best-meals">Below you can see our best selling meals!</p>
      </div>

      <div class="menu-best-choices">
        <div class="menu-item">
          <div class="menu-item-image">
            <img src="../assets/menu_photo1@2x.png" alt="">
          </div>

          <div class="details">
            <div>
              <h3>Mighty burger</h3>
              <p>Served with fries and drink</p>
           </div>
            <div>8$</div>
          </div>
        </div>

        <div class="menu-item">
          <div class="menu-item-image">
            <img src="../assets/menu_photo2@2x.png" alt="">
          </div>

          <div class="details">
            <div>
              <h3>Chickpae's salad</h3>
              <p>Served with fries and drink</p>
            </div>
            <div>4$</div>
          </div>
        </div>

        <div class="menu-item">
          <div class="menu-item-image">
            <img src="../assets/menu_photo_3@2x.png" alt="">
          </div>
          <div class="details">
            <div>
              <h3>Chickpae's wrap</h3>
              <p>Served with fries and drink</p>
            </div>
            <div>3$</div>
          </div>
        </div>
      </div>

    <div class="clients">
     <div class="good-food">
       <h1>Good food = happy clients</h1>
     </div>

     <div class="clients-image-container">

       <div class="clients-row">
         <div class="client-image">
           <img src="../assets/galery_photo1@2x.png" alt="">
         </div>
         <div class="client-image">
           <img src="../assets/galery_photo2@2x.png" alt="">
         </div>
         <div class="client-image">
           <img src="../assets/galery_photo3@2x.png" alt="">
         </div>
       </div>

       <div class="clients-row">
         <div class="client-image">
           <img src="../assets/galery_photo4@2x.png" alt="">
         </div>
         <div class="client-image">
           <img src="../assets/galery_photo5@2x.png" alt="">
         </div>
         <div class="client-image">
           <img src="../assets/galery_photo6@2x.png" alt="">
         </div>
       </div>
     </div>
   </div>

      <div class="contacts" id="contacts">
        <div class="contact-box">
          <div class="contact-image">
            <img src="../assets/time_icon@2x.png" alt="">
          </div>
          <h3>Today 12 pm - 9 pm</h3>
          <p>Working Hours</p>
        </div>

        <div class="contact-box">
          <div class="contact-image">
            <img src="../assets/localization_icon@2x.png" alt="">
          </div>
          <h3>Piastowska 4, Cracow</h3>
          <p>Find Us</p>
        </div>

        <div class="contact-box">
          <div class="contact-image">
            <img src="../assets/phone_icon@2x.png" alt="">
          </div>
          <h3>503 204 176</h3>
          <p>Call to Us</p>
        </div>
      </div>

      <div class="icon-container">
        <div class="logo">
          <img src="../assets/wrapped_green_logo@2x.png" alt="wrapped">
        </div>

        <ul>
          <li>
            <a href="#about-us">About us</a>
          </li>
          <li>
            <a href="#menu">Menu</a>
          </li>
          <li>
            <a href="#contacts">Contact</a>
          </li>
        </ul>

        <div class="social-media">
          <div>
            <img src="../assets/icon-awesome-facebook.svg" alt="">
          </div>
          <div>
            <img src="../assets/Icon%20awesome-twitter.svg" alt="">
          </div>
          <div>
            <img src="../assets/Icon%20awesome-instagram.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


